.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 4rem 2rem;
}
.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: flex-end;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.container > :first-child {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}
.container > :nth-child(2) {
  display: block;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.wrapper > img {
  justify-self: center;
  width: 25rem;
}
.reviews {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}
.carousal {
  width: 100%;
}
.t_carousal {
  padding: 2rem;
}
@media screen and (max-width: 981px) {
  .testimonials {
    padding: 4rem 1rem;
  }
}
@media screen and (max-width: 767px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
  .wrapper > img {
    width: 80vw;
  }
  .wrapper > :nth-child(1),
  .wrapper > :nth-child(3) {
    text-align: center;
  }
}
