.s-container {
  position: relative;
}
.s-container .swiper {
  width: 70%;
  height: 12rem;
  position: static;
}
.s-container .swiper-slide {
  display: flex;
  background: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.s-container .swiper-button-prev {
  left: 6rem;
}
.s-container .swiper-button-next {
  right: 6rem;
}
.s-container .swiper-button-next,
.s-container .swiper-button-prev {
  color: black;
}

@media screen and (max-width: 981px) {
  .s-container .swiper {
    width: 90%;
    height: 10rem;
  }
  .s-container .swiper-button-next,
  .s-container .swiper-button-prev {
    display: none;
  }
}
